<div class="nav-sub">
    <div class="container padding-wrapper">
        <ul class="nav-sub-list  d-flex ai-c">
            <li><a href="#">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
            <li class="ml-auto"><a href="#"><span class="material-symbols-outlined">search</span></a></li>
        </ul>
    </div>
    
</div>