<div class="pagination"> 
    <ul class=" padding-wrapper page-num d-flex jc-c ai-c">
        <li class="previous">
            <a class="bl-1 br-1">上一頁</a>
        </li>
        <li class="page-num1 br-1"><a href="#">1</a></li>
        <li class="pagination-active br-1"><a href="#" class="page-num2">2</a></li>
        <li class="page-num3 br-1"><a href="#">3</a></li>
        <li class="page-num4 br-1"><a href="#">4</a></li>
        <li class="page-num5 br-1"><a href="#">5</a></li>
        <li class="next"><a class="br-1">下一頁</a></li>
    </ul>
</div>

