<div class="container">
    <ul class="series-nav d-flex jc-sb ai-c">
        <li class="optical"><a href="product_optical.html">OPTICAL</a></li>
        <li class="sunglasses"><a href="product_sunglasses.html">SUNGLASSES</a></li>
        <li><a class="functional" href="#">FUNCTIONAL</a></li>
    </ul>
</div>