.faq {
    margin-bottom: 80px;
    @include mobile {
        margin-bottom: 64px;
    }

    &-list {
        margin-left: -12px;
        margin-right: -12px;
    }

    h2 {
        font-size: $font-size-5;
        font-weight: $fw-bold;
        margin-bottom: 24px;
    }

    h3 {
        font-size: $font-size-4;
        font-weight: $fw-bold;
        margin-bottom: 8px;
    }

    li:not(:last-child) {
        margin-bottom: 32px;
        @include mobile {
            margin-bottom: 32px;
        }
    }
}
