<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main class="store store-all">
      <div class="container padding-wrapper">
        <h1 class="page-title">門市據點</h1>
        
        <div class="store-area-selector">
          <label for="area-city">選擇地區</label>
        <select name="area-city" id="store-region">
          <option value="" disabled>選擇地區</option>
          <option value="Taipei">台北市</option>
          <option value="Taichung">台中市</option>
          <option value="kaohsiung">高雄市</option>  
        </select>
        </div>
        
        

      </div>
      
      
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
