*, *::after, *::before {
    box-sizing: border-box;
    /* outline: 1px solid lightblue; */
}
body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
a:hover, .btn {
    cursor: pointer;
}
.btn {
        color: $text-color-light;
        background-color: $primary-color;
        &:hover {
            background-color: darken($primary-color, $amount: 3%);

        }
    }
