//flex
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.fd-column {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}
.jc-fe {
    justify-content: flex-end;
}
.jc-c {
    justify-content: center;
}
.ai-c {
    align-items: center;
}
.ai-fs {
    align-items: flex-start;
}
.ai-fe {
    align-items: flex-end;
}


//gap
@for $i from 0 through $max {
    .gap-#{$i} {
      gap: $i * 4px;
    }
}

//text-align
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.ta-l {
    text-align: left;
}

//hide
.d-none-md {
    @include pad {
        display: none;
    }
}

// margin
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
@for $i from 0 through $max {
    .mb-#{$i} {
      margin-top: $i * 4px;
    }
    .mt-#{$i} {
        margin-bottom: $i * 4px;
    }
    .ml-#{$i} {
        margin-left: $i * 4px;
    }
    .mr-#{$i} {
        margin-right: $i * 4px;
    }
    .my-#{$i} {
        margin: $i * 4px 0;
    }
    .mx-#{$i} {
        margin: 0 $i * 4px;
    }
    .m-#{$i} {
        margin: $i * 4px;
    }
}

// padding
@for $i from 0 through $max {
    .pt-#{$i} {
      padding-top: $i * 4px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 4px;
    }
    .pl-#{$i} {
        padding-left: $i * 4px;
    }
    .pr-#{$i} {
        padding-right: $i * 4px;
    }
    .py-#{$i} {
        padding: $i * 4px 0;
    }
    .px-#{$i} {
        padding: 0 $i * 4px;
    }
    .p-#{$i} {
        padding: $i * 4px;
    }
}

//grid
@for $i from 0 through $columns-num {
    .col-#{$i} {
        width: calc(100% * ($i / $columns-num));
        padding-left: calc($gap / 2);
        padding-right: calc($gap / 2);
    }
    @include pad {
        .col-md-#{$i} {
            width: calc(100% * ($i / $columns-num));
            padding-left: calc($gap / 2);
            padding-right: calc($gap / 2);
        }
    }
    @include mobile {
        .col-sm-#{$i} {
            width: calc(100% * ($i / $columns-num));
            padding-left: calc($gap / 2);
            padding-right: calc($gap / 2);
        }
    }
}

//border
@for $i from 0 through $max {
    .bl-#{$i} {
      border-left: $i * 1px solid #555555;
    }
    .br-#{$i} {
        border-right: $i * 1px solid #555555;
    }
}